<div id = "newSurvey">
	<form name = "surveyForm" ng-submit = "surveyForm.$valid && newSurveyCtrl.addSurvey(surveys)" novalidate>
		<div class="row">
			<div class="col-md-12">
				<input ng-model = "newSurveyCtrl.survey.title" type = "text" placeholder = "Formulari sense títol" class = "title" required/>		
			</div>
		</div>
		<div class="row">
			<div ng-repeat="question in newSurveyCtrl.survey.questions" class="col-md-12">
				<input type="text" ng-model="question.text" class="question" placeholder="Pregunta sense titol">
				<br>
				<div class="row">
					<div class="col-md-12">
						<div ng-repeat = "answer in question.choices track by $index">
					    		<input type="radio" name="answer"  value = "{{answer.text}}"> 
					    		<input type="text" ng-model="answer.text" placeholder="Opció {{$index+1}}" focus-me="newItemAdded">

					    		<a class="navbar-link" ng-click="newSurveyCtrl.removeChoice(answer,question.choices)">
	          						<span class="glyphicon glyphicon-remove"></span>
	        					</a></br>
				  		</div>
					  		<input type="radio" name="answer"> <a ng-click="newSurveyCtrl.addChoice(question.choices)" role="button" aria-label="Add new option"><span></span>Afegiu opció</a>
					</div>
			  	</div>	
			  	<button type="button" class="btn btn-default" ng-click = "newSurveyCtrl.removeQuestion(question)">
					<span class ="glyphicon glyphicon-trash"></span>
				</button>							
		  	</div>	
	    </div>
	
		<div class="row">
			<div class="col-md-3">
				<button type="button" class="btn btn-info" ng-click="newSurveyCtrl.addQuestion()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-10">
				<input type = "submit" class="btn btn-info" value = "Enviar"/>
			</div>
		</div>
		
		<!--<div>surveyForm is {{surveyForm.$valid}}</div>-->
			
	</form>
</div>